@model MyInvoicingApp.ViewModels.InvoiceViewModel

<h2 class="text-center">Szczegóły faktury: <b>@Model.InvoiceNumber</b></h2>

<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link active show" data-toggle="tab" href="#invoiceHeader">Nagłówek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#invoiceLines">Linie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#invoice-attachments">Załączniki</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Akcje</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a asp-controller="Pdf" asp-action="GetInvoicePdf" asp-route-invoiceId="@Model.Id" class="dropdown-item"><i class='far fa-file-pdf fa-lg' aria-hidden="true"></i> eksport faktury do PDF</a>
            <a asp-controller="Excel" asp-action="GetInvoiceExcel" asp-route-invoiceId="@Model.Id" class="dropdown-item"><i class='far fa-file-excel fa-lg' aria-hidden="true"></i> eksport faktury do Excel</a>
        </div>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="invoiceHeader">
        <div class="row">
            <div class="col-md-8 border rounded mx-auto">
                <form>
                    <div class="form-group">
                        <input asp-for="Id" type="hidden" class="form-control" />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Status" class="control-label"></label>
                            <input asp-for="Status" class="form-control text-center" readonly />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="ReferenceNumber" class="control-label"></label>
                            <input asp-for="ReferenceNumber" class="form-control" readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="PaymentDueDate" class="control-label"></label>
                            <input asp-for="PaymentDueDate" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Customer" class="control-label"></label>
                            <input asp-for="Customer.Name" class="form-control" readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="IssueDate" class="control-label"></label>
                            <input asp-for="IssueDate" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Budget" class="control-label"></label>
                            <input asp-for="Budget.BudgetNumber" class="form-control" readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="ReceiveDate" class="control-label"></label>
                            <input asp-for="ReceiveDate" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="PaymentMethod" class="control-label"></label>
                            <input asp-for="PaymentMethod" class="form-control" readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Currency" class="control-label"></label>
                            <input asp-for="Currency" class="form-control" readonly />
                        </div>
                    </div>
                    @if (@Model.LastModifiedBy != null)
                    {
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="CreatedBy" class="control-label"></label>
                                <input asp-for="CreatedBy.UserName" class="form-control" readonly />
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="CreatedDate" class="control-label"></label>
                                <input asp-for="CreatedDate" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="LastModifiedBy" class="control-label"></label>
                                <input asp-for="LastModifiedBy.UserName" class="form-control" readonly />
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="LastModifiedDate" class="control-label"></label>
                                <input asp-for="LastModifiedDate" class="form-control" readonly />
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <a asp-action="Edit" asp-controller="Invoice" asp-route-id="@Model.Id" class="btn btn-success">Edytuj</a>
                        <a asp-action="Index" asp-controller="Invoice" class="btn btn-outline-primary">Anuluj</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="invoiceLines">
        @if (!Model.InvoiceLines.Any())
        {
            <p>--BRAK--</p>
        }
        else
        {
            await Html.RenderPartialAsync("_InvoiceLines", @Model.InvoiceLines);
        }
    </div>
    <div class="tab-pane fade" id="invoice-attachments">
        @{
            await Html.RenderPartialAsync("Attachment/_AttachmentList", Model.Attachments);
        }
    </div>
</div>
