@model MyInvoicingApp.ViewModels.RoleViewModel

<h4 class="text-center">Przypisywanie użytkownika do roli <b>@Model.Position</b></h4>
<hr />
<div class="row">
    <div class="col-md-4 border rounded mx-auto">
        <form asp-action="AddToRole" asp-controller="Role" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Id" class="control-label"></label>*@
                <input asp-for="Id" class="form-control" />
                @*<span asp-validation-for="Id" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">Użytkownik</label>
                <select id="userId" name="userId" asp-items="@((IEnumerable<SelectListItem>)ViewBag.otherUsers)" class="form-control" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <div class="btn-group special" role="group">
                    <input type="submit" value="Dodaj" class="btn btn-success" @(((IEnumerable<SelectListItem>)ViewBag.otherUsers).Any() ? "" : "disabled") />
                    <a asp-action="Index" asp-controller="Role" class="btn btn-outline-primary">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 border rounded mx-auto">
        <form asp-action="RemoveFromRole" asp-controller="Role" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Id" class="control-label"></label>*@
                <input asp-for="Id" class="form-control" />
                @*<span asp-validation-for="Id" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">Użytkownik</label>
                <select id="userId" name="userId" asp-items="@((IEnumerable<SelectListItem>)ViewBag.asignedUsers)" class="form-control" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <div class="btn-group special" role="group">
                    <input type="submit" value="Usuń" class="btn btn-danger" @(((IEnumerable<SelectListItem>)ViewBag.asignedUsers).Any() ? "" : "disabled") />
                    <a asp-action="Index" asp-controller="Role" class="btn btn-outline-primary">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
