@model IEnumerable<MyInvoicingApp.ViewModels.InvoiceLineViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice.InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice.ReferenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Netto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gross)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseNetto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseGross)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Budget)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.LastModifiedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModifiedDate)
                </th>*@
            <th>
                Akcje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice.InvoiceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice.ReferenceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Netto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gross)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseNetto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseGross)
                </td>
                @*<td data-id="@item.BudgetId">
                        @Html.DisplayFor(modelItem => item.Budget.BudgetNumber)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.LastModifiedBy.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModifiedDate)
                    </td>*@
                <td>
                    <a asp-controller="Pdf" asp-action="GetInvoicePdf" asp-route-invoiceId="@item.InvoiceId" title="PDF" class="btn-sm btn-default"><i class='fas fa-file-pdf fa-lg'></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
